button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

button.one {
    background-color: #000000;
    color: #ffffff;
}

button.two {
    background-color: yellow;
    border-color: #000000;
    border-width: 2px;
}